* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid1 {
  height: 600px;
  width: 500px;
  border:1px solid red;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 90px 1fr 100px;
}