body {
  height: 100%;
  width: 100%;
  background: peru;
}
.content.sub-content {
  height: 600px;
}
.content {
  height: 500px;
  width: 350px;
  border: 1px solid red;
}
.size64 {
  font-size: 64px;
}
.blue-text {
  color: blue !important;
}
/* div {
  background: rgb(228, 133, 133);
  height: 300px;
  width: 250px;
  text-align: center;
}
#yellow {
  color: rgb(215, 215, 186);
  font-size: 24px;
}
h3 {
  display: inline-block;
  margin-right: 10px;
}
h3:hover {
  color: white;
}
p {
  display: inline-block;
}
p:nth-of-type(2) {
  font-size: 10px;
}
.content {
  text-align: left;
  padding: 0 0 0 10px;
  color: green;
  font-weight: bold;
}
input[type] {
  background: red;
  border: 4px solid green;
  width: 100%;
} */
